# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
.env.*
.venv/
venv/
ENV/
env/

# Secrets and credentials
secrets/
firebase-admin.json

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# Type checkers
.mypy_cache/
.pyre/
.pytype/